<div class="content">
  <section>
    <h1>Listado de Pokemon</h1>
    <div class="toolbar">
      <app-search-input (valueChange)="handlerSearchValue($event)"></app-search-input>
      <app-button>
        <img src="assets/icons/add.svg" alt="create">
        Nuevo
      </app-button>
    </div>
  </section>
  <section *ngIf="pokemon; else notFound">
    <app-information [pokemon]="pokemon"></app-information>
  </section>
  <section>
    <ng-container *ngIf="save===action;else updateTemplate">
      <app-pokemon-form (saveEvent)="savePokemon($event)" (cancelEvent)="clearForm()"></app-pokemon-form>
    </ng-container>
  </section>
</div>

<ng-template #notFound>
  <h2>Pokemon no encontrado</h2>
</ng-template>

<ng-template #updateTemplate>
  <app-pokemon-form [pokemon]="pokemon" (saveEvent)="savePokemon($event)" (cancelEvent)="clearForm()"></app-pokemon-form>
</ng-template>
